.title {
    padding: 15px;
    background-color: white;
    border-left: 10px solid #F94F2F;
    font-weight: bold;
    font-size: 21px;
    color: #999;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 40px;
    margin-top: 50px;
}